<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".page_login_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_idsearch"/>
        <activity android:name=".activity_main"/>
        <activity android:name=".activity_main_regretation"/>
        <activity android:name=".page_match"/>
        <activity android:name=".page_password"/>
        <activity android:name=".page_signup"/>
        <activity android:name=".page_market_history"/>
        <activity android:name=".page_market_main"/>
        <activity android:name=".page_market_wishlist"/>
        <activity android:name=".page_my_drivereg"/>
        <activity android:name=".page_my_drivereg1"/>
        <activity android:name=".page_my_drivereg2"/>
        <activity android:name=".page_my_list"/>
        <activity android:name=".page_my_payment"/>
        <activity android:name=".page_my_profile"/>
        <activity android:name=".page_my_profile_edit"/>
        <activity android:name=".pg_11_java"/>
        <activity android:name=".pg_12_java"/>
        <activity android:name=".pg_13_java"/>
        <activity android:name=".pg_14_java"/>
        <activity android:name=".pg_15_1_java"/>
        <activity android:name=".pg_15_2_java"/>
        <activity android:name=".pg_16_java"/>
        <activity android:name=".pg_25_1java"/>
        <activity android:name=".pg_25_java"/>
        <activity android:name=".pg_26_1java"/>
        <activity android:name=".pg_26_java"/>
        <activity android:name=".pg_27_1java"/>
        <activity android:name=".pg_27_java"/>
        <activity android:name=".pg_28_java"/>
</application>

</manifest>